<!---- This is the template for a letting agent adding rooms --->
{% extends 'rent_live/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Rent Live - Add a New Property
{% endblock %}

{% block body_block %}
<script src="{% static 'js/search.js' %}" crossorigin="anonymous"></script>

	<h1>Add a New Property - RentLive</h1>

	<p>Please register by filling in your information below</p><br />
	<form id="rental_form" method="post" action="{% url 'rent_live:addProperty' %}" enctype="multipart/form-data">
			{% csrf_token %}

			{{ rental_form.as_p }}

			<!---Extra forms for these as we want to get the values to add to the map --->
			<p>Longitude: <textarea id="long"></textarea>
			<p>Latitude: <textarea id="lat"></textarea>

			<!--- On click, add this as a marker to the map ---->
			<input onclick="addMarker(document.getElementByID('long').value, document.getElementByID('lat'.value))" class ="Submit" type="submit"name="submit"value="Add Property"/>
		</form>

	{% if added %}
		TEST
	{% endif %}

{% endblock %}
