<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head lang="en">
		<meta charset ="UTF-8">
		<link rel="stylesheet"type="text/css"href="{% static 'css/rent_live/style.css' %}">
		<div class = "header">
			<hr/>
			<ul class = "Navigation-Bar">
				<li class = "Nav-Link"><a class = "Nav-Link" href="{% url 'rent_live:index' %}">HomePage</a></li>
				<li class = "Nav-Link"><a class = "Nav-Link" href="{% url 'rent_live:search' %}">Search</a></li>
				<li class = "Nav-Link"><a class = "Nav-Link" href="{% url 'rent_live:about' %}">About Us</a></li>
				<li class = "Nav-Link"><a class = "Nav-Link" href="{% url 'rent_live:contact' %}">Contact</a></li>
				{% if user.is_authenticated %}
				<li class = "Nav-Link"><a class = "Nav-Link" href="{% url 'rent_live:profile' user.username %}">My Profile</a></li>
				<li class = "Nav-Link"><a class = "Nav-Link" href="{% url 'rent_live:logout' %}">Logout</a></li>
				{% else %}
				<li class = "Nav-Link"><a class = "Nav-Link" href="{% url 'rent_live:register' %}">Register</a></li>
				<li class = "Nav-Link"><a class = "Nav-Link" href="{% url 'rent_live:login' %}">Login</a></li>
				{% endif %}
			</ul>
		<title>
			{% block title_block %}
				Rent Live - The Tenant's Tool
			{% endblock %}
		</title>
	</head>
	<body>
		<div>
			{% block body_block %}
			{% endblock %}
		</div>
	</body>
</html>

<footer>
	<p>This site has been developed by <a href="{% url 'rent_live:about' %}">ITech Group 13</a></p>
</footer>