<!DOCTYPE html>
{% load staticfiles %}
<!---- Base template extended by all other templates to provide a consistent style --->

<html>
	<head lang="en">
		<meta charset ="UTF-8">
		<link rel="stylesheet"type="text/css"href="{% static 'css/rent_live/style.css' %}">
		<script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
		<script src="{% static 'js/rentlive-jquery.js' %}" crossorigin="anonymous"></script>
		<script src="{% static 'js/rentlive-ajax.js' %}" crossorigin="anonymous"></script>
		

		<!----- Contains the code for the Navigation Bar at the top of the page ---->
		<div class = "header">
			<ul class = "Navigation-Bar">
				<img class = "logo" src="{% static 'images/RentLiveLogo.png' %}" alt="Rent Live's Logo"/>
				<li class = "Nav-Link"><a class = "Nav-Link" href="{% url 'rent_live:index' %}">HomePage</a></li>
				<li class = "Nav-Link"><a class = "Nav-Link" href="{% url 'rent_live:search' %}">Search</a></li>
				<li class = "Nav-Link"><a class = "Nav-Link" href="{% url 'rent_live:about' %}">About Us</a></li>
				<li class = "Nav-Link"><a class = "Nav-Link" href="{% url 'rent_live:contact' %}">Contact</a></li>
				<!---- If Authenticated, show the profile and logout links. If not, show register and login ---->
				{% if user.is_authenticated %}
					<li class = "Nav-Link"><a class = "Nav-Link" href="{% url 'rent_live:profile' user.username %}">My Profile</a></li>
					<li class = "Nav-Link"><a class = "Nav-Link" href="{% url 'rent_live:logout' %}">Logout</a></li>
				{% else %}
					<li class = "Nav-Link"><a class = "Nav-Link" href="{% url 'rent_live:register' %}">Register</a></li>
					<li class = "Nav-Link"><a class = "Nav-Link" href="{% url 'rent_live:login' %}">Login</a></li>
				{% endif %}
			</ul>
		</div>

		<!----- Contains the code for the Side Bar at the side of the page ---->


		<div class = "Side" id = "Side">
			<ul class = "SideBar" id="SideBar">
				<div class = "QuickSearch">
					<form action="{% url 'rent_live:searchresults' %}">
						<input type="search" name="search" id="QuickSearch2" class="form-control ds-input" placeholder="Quick Search"/>
					</form>
				</div>
						
				<li class = "City-Link"><a class = "City-Link" href="{% url 'rent_live:city' 'gla' %}">Glasgow</a></li>
				<li class = "City-Link"><a class = "City-Link" href="{% url 'rent_live:city' 'edi' %}">Edinburgh</a></li>
				<li class = "City-Link"><a class = "City-Link" href="{% url 'rent_live:city' 'inv' %}">Inverness</a></li>
				<li class = "City-Link"><a class = "City-Link" href="{% url 'rent_live:city' 'dnd' %}">Dundee</a></li>
				<li class = "City-Link"><a class = "City-Link" href="{% url 'rent_live:city' 'abr' %}">Aberdeen</a></li>
				<li class = "City-Link"><a class = "City-Link" href="{% url 'rent_live:city' 'str' %}">Stirling</a></li>
				<li class = "City-Link"><a class = "City-Link" href="{% url 'rent_live:city' 'pth' %}">Perth</a></li>
				<li class = "City-Link"><a class = "City-Link" href="{% url 'rent_live:city' 'dfl' %}">Dumfermline</a></li>
				<li class = "City-Link"><a class = "City-Link" href="{% url 'rent_live:city' 'sta' %}">StAndrews</a></li>
				<li class = "City-Link"><a class = "City-Link" href="{% url 'rent_live:city' 'dfs' %}">Dumfries</a></li>

			</ul>
		</div>

		<title>
			{% block title_block %}
				Rent Live - The Tenant's Tool
			{% endblock %}
		</title>
	</head>
	<body>
		<div class="body">
			{% block body_block %}
			{% endblock %}
		</div>
	</body>

<!------ Footer displays at the bottom of each page ---->
<footer>
	<p><a class = "FooterLinks" href="{% url 'rent_live:landlords' %}">Landlords</a>
	<a class = "FooterLinks" href="{% url 'rent_live:agencies' %}">Agencies</a>
	<a class = "FooterLinks" href="{% url 'rent_live:agents' %}">Agents</a> -
	This site has been developed by <a href="{% url 'rent_live:about' %}">ITech Group 13</a></p>
</footer>

</html>