{% extends 'rent_live/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ city.name }}
{% endblock %}

{% block body_block %}
	<h1> {{ city.name }} </h1>

	<div class = "Picture-Section">
	{% if city.name == 'Glasgow' %}
		<img class = "city-picture" src="{% static 'images/glasgow.jpg' %}" alt="Glasgow"/>
	{% elif city.name == 'Edinburgh' %}
		<img class = "city-picture" src="{% static 'images/edinburgh.jpg' %}" alt="Glasgow"/>
	{% elif city.name == 'Inverness' %}
		<img class = "city-picture" src="{% static 'images/inverness.jpg' %}" alt="Glasgow"/>
	{% elif city.name == 'Dundee' %}
		<img class = "city-picture" src="{% static 'images/dundee.jpg' %}" alt="Glasgow"/>
	{% elif city.name == 'Aberdeen' %}
		<img class = "city-picture" src="{% static 'images/aberdeen.jpg' %}" alt="Glasgow"/>
	{% elif city.name == 'Stirling' %}
		<img class = "city-picture" src="{% static 'images/stirling.jpg' %}" alt="Glasgow"/>
	{% elif city.name == 'Perth' %}
		<img class = "city-picture" src="{% static 'images/perth.jpg' %}" alt="Glasgow"/>
	{% elif city.name == 'Dumfermline' %}
		<img class = "city-picture" src="{% static 'images/dumfermline.jpg' %}" alt="Glasgow"/>
	{% elif city.name == 'StAndrews' %}
		<img class = "city-picture" src="{% static 'images/standrews.jpg' %}" alt="Glasgow"/>
	{% elif city.name == 'Dumfries' %}
		<img class = "city-picture" src="{% static 'images/dumfries.jpg' %}" alt="Glasgow"/>
	{% endif %}
	</div>

	<hr/>

	<div class="CityDescription">
		<p>{{ city.description }}</p>
	</div>

	<hr/>

	<div class="CityProperties">
		{% if properties %}
			<ul class="Properties">
				{% for property in properties %}
					<li><a href="{% url 'rent_live:property' property.slug %}">{{ property.name }}, {{ property.address }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			This city has no properties uploaded
		{% endif %}

		</ul>
	</div>
	<hr/>

	<div class="CityAgents">
		<p><Strong>Agents, Landlords and Agencies in this area</Strong></p>

		{% if agents %}
			<ul class="agents">
				{% for agent in agents %}
					<li><a href="{% url 'rent_live:agent' agent.slug %}">{{ agent.name }}</a>, {{ agent.email }} - This individual is a {{ agent.category }}</li>
				{% endfor %}
			</ul>
		{% else %}
			No letting agents have been uploaded for this city
		{% endif %}
	</div>



{% endblock %}
