{% extends 'rent_live/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Rent Live - Contact Us
{% endblock %}

{% block body_block %}
<div>
	<h1>The creators of Rent Live can be contacted at:</h1>
		<ul>
			<li>Fergus Smith - 2134403S@student.gla.ac.uk</li>
			<li>Shaobo Yang - 26929208Y@student.gla.ac.uk</li>
			<li>Qiliang Zhu - exampleemail@gmail.com</li>
			<li>Yue Wei - exampleemail@gmail.com</li>
		</ul>

	<p>To speak to our support team, please contact: RentLive@gmail.com, or contact us on +4412345678</p>
	
</div>
{% endblock %}

