<!---- Allows the user to edit their account details. TThis was adapted from a Youtube tutorial by Max Goodridge retrieved 12/03/2022 -https://www.youtube.com/watch?v=JmaxoPBvp1M&list=PLw02n0FEB3E3VSHjyYMcFadtQORvl1Ssj&index=18&ab_channel=MaxGoodridge --->
{% extends 'rent_live/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Rent Live - Edit Account
{% endblock %}

{% block body_block %}
	<h1>User Account Edit - RentLive</h1>


	<p>Please register by filling in your information below</p>

	<br />
	<form id="user_form" method="post">
		{% csrf_token %}

		{{ form.as_p }}

		<input class = "Submit" type="submit"name="submit"value="Submit New Details"/>
	</form>

	<div class="password-link">
		<p><a href="{% url 'rent_live:changepassword' %}">Change Your Password</a></p>
	</div>

	<div class="delete-link">
		<p><a href="{% url 'rent_live:delete' user.username %}">Delete your account</a></p>
	</div>

{% endblock %}
