{% extends 'rent_live/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Rent Live - Edit Account
{% endblock %}

{% block body_block %}
	<h1>User Account Edit - RentLive</h1>


	<p>Please register by filling in your information below</p>

	<br />
	<form id="user_form" method="post">
		{% csrf_token %}

		{{ form.as_p }}

		<input type="submit"name="submit"value="Submit New Details"/>
	</form>

	<div class="password-link">
		<p><a href="{% url 'rent_live:changepassword' %}">Change Your Password</a></p>
	</div>

	<div class="delete-link">
		<p><a href="{% url 'rent_live:delete' user.username %}">Delete your account</a></p>
	</div>

{% endblock %}
