{% extends 'rent_live/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Rent Live - HomePage
{% endblock %}

{% block body_block %}
<div class = "Welcome">
	{% if user.is_authenticated %}
		<p>Welcome back, {{ user.username }}</p>
	{% else %}
		<p>New to Rent Live? Sign Up <a href="{% url 'rent_live:register' %}">here</a></p> 
	{% endif %}
	<h1>Find A Flat</h1>
	<p>Rent Live has collected 999+ rooms for renting</p>
</div>

<div class = "Search">
	<input type="search" id="search-input" class="form-control ds-input" placeholder="Search Your City..."/>
</div>


<div class = "body">
	<p><strong>Recommended Rooms</strong></p>
	<hr/>
	<!--- Comment Out
	<div class = "rooms">
	{% if properties %}
		<ul>
		{% for property in properties %}
			<li class = "GridRoom"><a href="{% url 'rent_live:property' property.slug %}">{{ property.name }}, {{ property.address }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		No properties have been uploaded yet!
	{% endif %}
	</div>
	---->

	<div class = "Room-container">
		{% if properties %}
			<div class = "Room-item">
				{% for property in properties %}
					<li class = "GridRoom"><a href="{% url 'rent_live:property' property.slug %}">{{ property.name }}, {{ property.address }}</a></li>
				{% endfor %}
			</div>
		{% else %}
			No properties have been uploaded yet!
		{% endif %}
	</div>


	<hr/>

	<p><strong>Recommended Letting Agents</strong><p>
	<hr/>

	{% if lettingAgents %}
		<ul>
		{% for agent in lettingAgents %}
			<li><a href="{% url 'rent_live:agent' agent.slug %}">{{ agent.name }} , {{ agent.email }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		No letting agents have been uploaded yet!
	{% endif %}	
	
</div>
{% endblock %}

