{% extends 'rent_live/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Rent Live - HomePage
{% endblock %}

{% block body_block %}

<div class = "Welcome">
	{% if user.is_authenticated %}
		<h3 class = "Header">Welcome back, {{ user.username }}</h3>
	{% else %}
		<h3>New to Rent Live? Sign Up <a href="{% url 'rent_live:register' %}">here</a></h3> 
	{% endif %}
</div>

<div class="Headings">
	<h1 class = "Heading">Find A Flat</h1>
	<h4 class = "Heading">Rent Live has collected {{ numberOfProperties }} rooms for renting</h4>
	<br/>
</div>

<div class = "LogoContainer">
	<img class = "MainLogo" src="{% static 'images/MainLogo.png' %}" width="400" height="300" alt="RentLive's main logo"/>
</div>

<br/>
<div class = "Search">
	<p>Quick Search - Enter a City Name to see properties</p>
	<form action="{% url 'rent_live:searchresults' %}">
		<input type="search" name="search" class="form-control ds-input" placeholder="Search Your City..."/>
	</form>
</div>

<br/>
<br/>
<br/>

<div class = "body">
	<hr/>
	<p><strong>Recommended Rooms</strong></p>
	<hr/>

	<div class = "Room-container">
		{% if properties %}
			<div class = "Room-item">
				{% for property in properties %}
					{% if property.picture %}
						<img class = "PropertyImage" src="{{ MEDIA_URL }}{{ property.picture }}" width="75"height="75"alt="Rental Property Image - {{ property.picture }}"/>
					{% else %}
						<img class = "PropertyImage" src="{% static 'images/BlankProperty.jpg' %}" width="75"height="75"alt="Blank Property Picture"/>
					{% endif %}
					<li class = "GridRoom"><a class="GridRoom" href="{% url 'rent_live:property' property.slug %}">{{ property.name }}</a></li>
					<p>{{ property.address }}</p>
					<p>£{{ property.price }} pcm</p>
					<p>{{ property.lettingAgent.name }}</p>
					<hr/>
				{% endfor %}
			</div>
		{% else %}
			<p class = "CityDesc">No properties have been uploaded yet!</p>
		{% endif %}
	</div>

	<p><strong>Recommended Letting Agents</strong><p>
	<hr/>
	<div>
	{% if lettingAgents %}
		<ul>
		{% for agent in lettingAgents %}
			{% if agent.logo %}
				<img class ="AgentLogo" src="{{ MEDIA_URL }}{{ agent.logo}}" width="75"height="75"alt="Logo for {{ agent.name }}">
			{% else %}
				<img class ="AgentLogo" src="{% static 'images/BlankPerson.jpg' %}" width="75"height="75"alt="Blank Profile Picture"/>
			{% endif %}

			<li><a href="{% url 'rent_live:agent' agent.slug %}">{{ agent.name }}</a></li>
			<p>{{ agent.email }}</p>
			<p>{{ agent.phone }}</p>
			<hr/>
		{% endfor %}
		</ul>
	{% else %}
		<p class = "CityDesc">No letting agents have been uploaded yet!</p>
	{% endif %}	
</div>

<br/>
	
</div>
{% endblock %}

