{% extends 'rent_live/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ agent.name }}
{% endblock %}

{% block body_block %}
<div>
	<h1>Landlords</h1>
	<p>Below is a list of the different landlords present on RentLive</p>
	<hr/>

	{% if agents %}
		{% for agent in agents %}
			{% if agent.logo %}
				<img class ="AgentLogo" src="{{ MEDIA_URL }}{{ agent.logo}}" width="75"height="75"alt="Logo for {{ agent.name }}">
			{% else %}
				<img class ="AgentLogo" src="{% static 'images/BlankPerson.jpg' %}" width="75"height="75"alt="Blank Profile Picture"/>
			{% endif %}
			<p>Name: {{ agent.name }}</p>
			<p>Email: {{ agent.email }}</p>
			<p>Helpfulness Rating: {{ agent.helpfulnessRating }}</p>
			<p>Promptness Rating: {{ agent.promptnessRating }}</p>
			<p>Quality Rating: {{ agent.qualityRating }}</p>
			<p>To visit their page, click <a href="{% url 'rent_live:agent' agent.slug %}">here</a></p>

			<hr/>
		{% endfor %}
	{% endif %}

</div>
{% endblock %}
