{% extends 'rent_live/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ agent.name }}
{% endblock %}

{% block body_block %}
<script src="{% static 'js/ratingscript.js' %}"></script>



<div>
	<div>
		{% if agent.logo %}
			<img class = "Logo" src="{{ MEDIA_URL }}{{ agent.logo}}" width="200"height="200"alt="Logo for {{ agent.name }}">
		{% else %}
			<img class = "Logo" src="{% static 'images/BlankPerson.jpg' %}" width="200"height="200"alt="Blank Profile Picture"/>
		{% endif %}
	</div>
	<div>
		<li class = "AgentDetails">Name: {{ agent.name }}</li>
		<li class = "AgentDetails">Email: {{ agent.email }}</li>
		<li class = "AgentDetails">Date Founded: {{ agent.dateFounded }}</li>
		<li class = "AgentDetails">Phone Number: {{ agent.phone }}</li>
		<li class = "AgentDetails">Promptness Rating: {{ agent.promptnessRating }} </li>
		<li class = "AgentDetails">Helpfulness Rating: {{ agent.helpfulnessRating }} </li>
		<li class = "AgentDetails">Quality Rating: {{ agent.qualityRating }}</li>
		<li class = "AgentDetails">City: {{ agent.city.name }}</li>
		<br/><br/><br/>
		<hr />
	</div>

	<div class = "agentRooms">
		<li><strong>{{ agent.name }}'s Rooms</strong></li>
		<hr/>
		{% if properties %}
			{% for property in properties %}
				{% if property.picture %}
						<img class = "PropertyImage" src="{{ MEDIA_URL }}{{ property.picture }}" width="75"height="75"alt="Rental Property Image - {{ property.picture }}"/>
					{% else %}
						<img class = "PropertyImage" src="{% static 'images/BlankProperty.jpg' %}" width="75"height="75"alt="Blank Property Picture"/>
					{% endif %}
					<li class = "GridRoom"><a class="GridRoom" href="{% url 'rent_live:property' property.slug %}">{{ property.name }}</a></li>
					<p>{{ property.address }}</p>
					<p>£{{ property.price }} pcm</p>
					<p>{{ property.lettingAgent.name }}</p>
					<hr/>
			{% endfor %}
		{% else %}
			<p> This Agent does not have any properties uploaded</p>
		{% endif %}
	</div>

		<li><strong>{{ agent.name }}'s Comments</strong></li>
	<hr/>

	{% if user.is_authenticated %}
	<div class="CommentPrompt">
		<p>Do you have experience with this Agent? <input class="AgentComment" type="button" name="CommentButton" id="AgentComment" data-categoryid = "{{ user }}" value="Leave a Comment"> </p>
	{% endif %}
	<div id="AgCommentForm">

	</div>
	<hr/>

	<div class="comments">
		{% if comments %}
			{% for comment in comments %}
				<p><strong>Comment left by {{ comment.user }} on the {{ comment.Date }}</strong></p>
				<p>Description: {{ comment.Description }}</p>
				<li>Promptness Rating: {{ comment.promptnessRating }}</li>
				<li>Helpfulness Rating: {{ comment.helpfulnessRating }}</li>
				<li>Quality Rating: {{ comment.qualityRating }}</li>
				<p id="agentLikes">Likes: {{ comment.likes }}</p>
					{% if comment.userHasNotLiked %}
						<button class="AgentLikeButton" data-categoryid="{{ comment.uniqueId }}" type="button">Like</button> 
						<div id="Agentlikemessage">
						</div>
					{% endif %}
				<hr/>
			{% endfor %}
		{% else %}
			<p>There have been no comments left for this Entity</p>
		{% endif %}
	<br/><br/><br/><br/>


</div>
{% endblock %}
