{% extends 'rent_live/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ user.username }}
{% endblock %}

{% block body_block %}
<div>
	<div>
		{% if user_profile.profilePic %}
		<img class = "ProfilePicture" src="{{ MEDIA_URL }}{{ user_profile.profilePic }}" width="200"height="200"alt="User profile image - {{ selected_user.username}}">
		{% else %}
		<img class = "ProfilePicture" src="{% static 'images/BlankPerson.jpg' %}" width="200"height="200"alt="Blank Profile Picture"/>
		{% endif %}
	</div>
	<div>
		<p class = "UserDetails">Name: {{ selected_user.username }}</p>
		<p class = "UserDetails">Email: {{ selected_user.email }}</p>
		<p class = "UserDetails">Date Joined: {{ user_profile.datejoined }}</p>
		<p class = "UserDetails">Likes: {{ user_profile.totallikes }}</p>

		{% if user_profile.superUser == True %}
		<p class = "UserDetails">Superuser</p>
		{% endif %}

		<br/>

		{% if selected_user == user %}
			<p class = "UserDetails">Looking to edit your account? Click <a href="{% url 'rent_live:editprofile' user.username %}">Here</a></p>
		{% endif %}

	

	<!--- User is an Agent --->

	{% if is_agent %}
		<p>Looking to add a new room to Rent Live? Click <a href="{% url 'rent_live:addProperty' %}">Here</a></p>/
	{% endif %}

	</div>

	<div class = "body">
	<br/>
	<hr/>

	<div class = "ProfileButton">
	<!--- This is the User's profile --->
		{% if selected_user == user %}
			<input class="ProfileButton" type="button" name="Follows" id="Followed" value = "My Followed Rooms" data-categoryid= "{{ user }}">
			<input class="ProfileButton" type="button" name="Message" id="MyMessage" value = "My Messages" data-categoryid= "{{ user }}">
			<input class="ProfileButton" type="button" name="Comments" id="Comments" value = "My Comments" data-categoryid= "{{ user }}">

		<!--- user is viewing another profile --->
		{% else %}
			<a class = "PageLink" href="{% url 'rent_live:index' %}">{{ selected_user.username }} 's Followed Rooms</a>
			<input class="ProfileButton" type="button" name="SendMessage" id="SendMessage" value = "Send Message" data-categoryid= "{{ user }}">
			<a class = "PageLink" href="{% url 'rent_live:index' %}">{{ selected_user.username }} 's Comments</a>
		{% endif %}
	</div>
	<div>
	<hr/>
	<div id="ProfileContent">
		<p>Click a button above to see more content</p>
	<div>

	

</div>
{% endblock %}
