{% extends 'rent_live/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ user.username }}
{% endblock %}

{% block body_block %}
<div>
	<div>
		{% if user_profile.profilePic %}
		<img src="{{ MEDIA_URL }}{{ user_profile.profilePic }}" width="200"height="200"alt="User profile image - {{ selected_user.username}}">
		{% else %}
		<img src="{% static 'images/BlankPerson.jpg' %}" width="200"height="200"alt="Blank Profile Picture"/>
		{% endif %}
	</div>
	<div>
		<p>Name: {{ selected_user.username }}</p>
		<p>Email: {{ selected_user.email }}</p>
		<p>Date Joined: {{ user_profile.datejoined }}</p>
		<p>Likes: {{ user_profile.totallikes }}</p>

		{% if user_profile.superUser == True %}
		<p>Superuser</p>
		{% endif %}

		{% if selected_user == user %}
			<p>Looking to edit your account? Click <a href="{% url 'rent_live:editprofile' user.username %}">Here</a></p>
		{% endif %}

	<hr/>

	<!--- User is an Agent --->

	{% if is_agent %}
		<p>Looking to add a new room to Rent Live? Click <a href="{% url 'rent_live:addProperty' %}">Here</a></p>/
	{% endif %}

	</div>

	<div>

	<!--- This is the User's profile --->
		{% if selected_user == user %}
			<a href="{% url 'rent_live:index' %}">My Followed Rooms</a>
			<a href="{% url 'rent_live:index' %}">My Messages</a>
			<a href="{% url 'rent_live:index' %}">My Comments</a>

		<!--- user is viewing another profile --->
		{% else %}
			<a href="{% url 'rent_live:index' %}">{{ selected_user.username }} 's Followed Rooms</a>
			<a href="{% url 'rent_live:index' %}">{{ selected_user.username }} 's Messages</a>
			<a href="{% url 'rent_live:index' %}">{{ selected_user.username }} 's Comments</a>
		{% endif %}
	<div>

	<div>

	<!--- user is viewing another profile --->

</div>
{% endblock %}
