{% extends 'rent_live/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ property.name }}
{% endblock %}

{% block body_block %}
	<h1> {{ property.name }} </h1>

	<div class="RentalPicture">
		{% if property.picture %}
			<img src="{{ MEDIA_URL }}{{ property.picture }}" width="200"height="200"alt="Rental Property Image - {{ property.picture }}"/>
		{% else %}
			<img src="{% static 'images/BlankProperty.jpg' %}" width="200"height="200"alt="Blank Property Picture"/>
		{% endif %}
	</div>

	<ul class = 'RentalDetails'>
		<li class="rental">Location: {{ property.address}}</li>
		<li class="rental">Square meters: {{ property.size }}m^2</li>
		<li class="rental">Cleanliness Rating: {{ property.cleanlinessRating }}</li>
		<li class="rental">Accuracy Rating: {{ property.accuracyRating }}</li>
		<li class="rental">Enjoyability Rating: {{ property.enjoyabilityRating }}</li>
		<li class="rental">Agent: <a href="{% url 'rent_live:agent' property.lettingAgent.slug %}">{{ property.lettingAgent }}</a></li>
		<li class="rental">Price: £{{ property.price }}</li>
		<li class="rental" id="FollowerCount">Followers: {{ property.followers }}</li>
		<br/>
		{% if user.is_authenticated %}
			{% if isFollowed %}
				<li class="rental">You have followed this property!</li>
			{% else %}
				<button class="FollowButton" data-categoryid="{{ property.name }}" type="button">Follow</button>
				<div class="FollowMessage">
				</div>
			{% endif %}
		{% endif %}
	</ul>
	<br/><br/>


	<hr/>
	<div class="propertydescription">
		<p><strong>Description</strong></p>
		<p> {{ property.description }}</p>
	</div>

	<hr/>
	<div class="AgentDetails">
		<p><strong>Contact Letting Agent</strong></p>
		<p> {{ property.lettingAgent }}</p>
		<p> {{ property.lettingAgent.email }}</p>
		<p> {{ property.lettingAgent.phone }}</p>
	</div>

	<hr/>
	<p><strong>Property Comments</strong></p>
	{% if user.is_authenticated %}
	<div class="CommentPrompt">
		<p>Do you have experience with this property? <input class="CommentButton" type="button" name="CommentButton" id="CommentButton" data-categoryid = "{{ user }}" value="Leave a Comment"> </p>
	{% endif %}

	<div class="commentform" id="commentform">
	</div>
	<hr/>


	<div class="comments">
		{% if comments %}
			{% for comment in comments %}
				<p><strong>Comment left by {{ comment.user }} on the {{ comment.Date }}</strong></p>
				<p>Description: {{ comment.Description }}</p>
				<li>Cleanliness Rating: {{ comment.cleanlinessRating }}</li>
				<li>Accuracy Rating: {{ comment.accuracyRating }}</li>
				<li>Enjoyability Rating: {{ comment.enjoyabilityRating }}</li>
				<p id="likes">Likes: {{ comment.likes }}</p>  
					{% if comment.userHasNotLiked %}
						<button class="LikeButton" data-categoryid="{{ comment.uniqueID }}" type="button">Like</button> 
						<div id="likemessage">
						</div>
					{% endif %}
				<hr/>
			{% endfor %}
		{% else %}
			<p>There are no comments for this property, yet</p>
		{% endif %}
	</div>

	<br/>
	<br/>

{% endblock %}
