<!---- This template concerns displaying search results for the Letting Agent Search --->

{% extends 'rent_live/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Rent Live - Results
{% endblock %}

{% block body_block %}
<div class="SearchTitle">
	<h1>Search Results</h1>
</div>
<lb/>

<!--- If an agent matches the query, display the agents' details. Else, mention there are no agents ---->
{% if results %}
	{% for result in results %}
		<hr/>
		{% if result.logo %}
			<img class ="AgentLogo" src="{{ MEDIA_URL }}{{ agent.logo}}" width="100"height="100"alt="Logo for {{ agent.name }}">
		{% else %}
			<img class ="AgentLogo" src="{% static 'images/BlankPerson.jpg' %}" width="100"height="100"alt="Blank Profile Picture"/>
		{% endif %}
		<p><a href="{% url 'rent_live:agent' result.slug %}">{{ result.name }}</a></p>
		<p>{{ result.description }}</p>
        <p>{{ result.phone }}</p>
        <p>{{ result.email }}</p>
	{% endfor %}
{% else %}
	<p>Sorry, there were no Agents matching your query.</p>
{% endif %}


{% endblock %}

