{% extends 'rent_live/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Rent Live - Search
{% endblock %}

{% block body_block %}
<div class="SearchTitle">
	<h1>Search Rent Live</h1>
</div>
<lb/>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<div class = "Search">
	<p>Enter in your address below in order to find Rental Properties</p>
	<input type="search" id="search-input" class="form-control ds-input" placeholder="Address..." width="200px"/>
<button onclick="gotodata()">search</button>
</div>
<hr/>


<div class = "Search">
	<p>Enter in your address below in order to find Letting Agents</p>
	<input type="search" id="search-input2" class="form-control ds-input" placeholder="Address..."/>
    <button onclick="gotodata1()">search</button>
</div>


<a href="http://localhost:8000/myss/">Google Link</a>
<script>

function gotodata(){

    window.location.href="/rentlive/search/results/?search="+$("#search-input").val()
}
function gotodata1(){

    window.location.href="/rentlive/search/results1/?search="+$("#search-input2").val()
}
</script>

{% endblock %}

