{% extends 'rent_live/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Rent Live - User Registration
{% endblock %}

{% block body_block %}
	<h1> User Login - Rent Live </h1>
	<form method="post" action=".">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="submit" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
	<hr/>
	<div>
		<p>Don't have an account on Rent Live? Register Here: <a href="{% url 'rent_live:register' %}">Register</a></p>
	</div>
{% endblock %}