{% extends 'rent_live/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Rent Live - User Registration
{% endblock %}

{% block body_block %}
	<h1>TEST Registration - RentLive</h1>

	{% if registered %}
		<p>Thank you for registering.<p>
			<ul>
				<li><a href="{% url 'rent_live:index' %}">Click here to return to the hompage</a></li>
				<li><a href="{% url 'rent_live:index' %}">Else, click here to visit your profile!</a></li>
			</ul>
	{% else %}
		<p>Please register by filling in your information below.</p>
		<p>Are you a letting agent? If so, register<a href="{%url 'rent_live:lettingagentregister' %}">here</a></p>
		<br />
		<form method="post" action=".">
			{% csrf_token %}

			{{ form.as_p }}

			<input class = 'register' type="submit"name="submit"value="Register"/>
		</form>
	{% endif %}

{% endblock %}
