a .Nav-Link{
    float: left;
    font:sans-serif;
}

li .Nav-Link{
	float:left;
	display: block;
	color: white;
	text-align: center;
	padding: 8px 10px;
	text-decoration: none;
	border-right: 1px solid white;
	font: sans-serif;
}

.Bar-Link{
	float:left;
}

.Side-Link {
	color: white;
	padding: 10px 8px;
}

body {
  background-color: azure;
}

li a{
	color = white;
}

.Navigation-Bar {
	position = fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: darkslategrey;
}

footer {
	position = fixed;

}

p{
	text-align: center;
	font: sans-serif;
}

h1 {
	text-align:center;
}

li {
	text-align: center;
	text-decoration: none;
	list-style-type: none;
}

.City-Link {
	text-align: left;
	padding: 11px 5px;
	border-top: 1px solid white;
	color: white;
	text-decoration: none;
}

.LAHeading {
	text-align: center;
}

.Search {
	text-align: center;
	margin-left: 100px;
}

.Welcome{
	text-align: center;
	margin-left: 100px;
}

.SideBar {
	position: fixed;
	height: 100%;
	background-color: darkslategrey;
	overflow: hidden;
	width: 100px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: white;
}

.body {
	margin-left: 100px;
	padding: 1px 20px;
	height: 1000px;
}

strong.LAHeading {
	text-align: center;
}

.logo {
	float: left;
}

.register{
	text-align: center;
}

.Room-container {
	display: grid;
	column-gap: 50px;
}

.Room-item {
	float: left;
}

.RentalPicture {
	float: left;
}

.RentalDetails{
	text-align: left;
}

li.rental {
	text-align: left;
}

a.agentlinks {
	text-align: center;
	
}